include es4mgh.c
include es4mgh.h
include es4_complex.h
include src/QuadraticFormsMGHyp/_native.c
include src/QuadraticFormsMGHyp/__init__.py
include src/QuadraticFormsMGHyp/py.typed
include README.md
include LICENSE
include CHANGELOG.md
include CITATION.bib
include CITATION.cff
include docs/conf.py
include docs/*.md
include tests/*.py
prune build
prune docs/_build
global-exclude *.o
global-exclude *.so
